<div ng-cloak class="background-default" layout="column" ng-controller="HomeController as homeCtrl">

  <md-progress-linear id="progressLinear" hidden md-mode="indeterminate"></md-progress-linear>

  <article class="article">

    Oi =D
    <footer class="page-footer">

      <div class="footer-copyright">
        <div class="content">
          Game and App Marketing Manager © 2016 - v. {{homeCtrl.versionNumber}}
          <a class="grey-text text-lighten-4 right" href="http://www.asus.com/br/">ASUS Brazil</a>
        </div>
      </div>

    </footer>
  </article>

</div>
